{% extends "service/base.html" %}

{% block content %}
   
<html>
    <body>
        <h2 class="h2 text-secondary">O nas</h2>

        
        <p>
        Jesteśmy zespołem, w którego skład wchodzą: Grzegorz Zakrzewski, Marcel Witas i Zuzanna Glinka. <br>
        Jesteśmy studentami trzeciego roku Inzynierii i Analizy Danych na Wydziale Matematyki i Nauk Informacyjnych Politechniki Warszawskiej.
        Łączy nas nie tylko kierunek i wspólne miejsce nauki, ale przede wszystkim zaiteresowanie sztuczną inteligecją i rozwojem nowych technologii.
        Projekt zrealizowaliśmy w ramach zajęć Warszaraty Badawcze, których celem było zdobycie doświadczenia i wiedzy w pracy naukowej.
        </p>
        W razie pytań lub uwag do projektu zapraszamy do kontaktu przez maila z jednym z autorów:
        <ol>
        <li> grzegorz.zakrzewski.stud@pw.edu.pl </li>
        <li> marcel.witas.stud@pw.edu.pl </li>
        <li> zuzanna.glinka.stud@pw.edu.pl </li>
        </ol>

    </body>
</html>
{% endblock %}
