{% extends "service/base.html" %}

{% block content %}
    <h2 class="h2 text-secondary">O nas</h2>

    Jesteśmy zespołem, w którego skład wchodzą: Grzegorz Zakrzewski, Marcel Witas i Zuzanna Glinka. 
    Jesteśmy studentami trzeciego roku Inzynierii i Analizy Danych na Wydziale Matematyki i Nauk Informacyjnych Politechniki Warszawskiej.
    Łączy nas nie tylko kierunek i wspólne miejsce nauki, ale przede wszystkim zaiteresowanie sztuczną inteligecją i rozwojem nowych technologii.
    Projekt zrealizowaliśmy w ramach zajęć Warszaraty Badawcze, których celem było zdobycie doświadczenia i wiedzy w pracy naukowej.
    
    W razie pytań lub uwag do projektu zapraszamy do kontaktu przez maila z jednym z autorów:
    * grzegorz.zakrzewski.stud@pw.edu.pl
    * marcel.witas.stud@pw.edu.pl
    * zuzanna.glinka.stud@pw.edu.pl

{% endblock %}
