{% extends "service/base.html" %}

{% block content %}
    <h2 class="h2 text-secondary">Opis przygotowanej metody</h2>

    Kod potrzebny do przygotowania danych, wytrenowania klasyfikatora, a następnie przedstawienia wyników
    został napisany w języku Python.
    <section>
        <h3 class="h3 text-secondary">Przygotowanie danych</h3>
        <p>
            Dane, których użyliśmy to:
        <ul>
            <li> plik ze współrzędnymi enhancerów dla linii komórkowej GM12878 w formacie BED (zbiór "pozytwyny")
                pobrany z bazy danych <a href="http://www.enhanceratlas.org/">
                    EnhancerAtlas 2.0</a></li>
            <li>zbiór "negatywny" zawierający losowe sekwencje o długościach zbliżonych do enhacerów
                ze zbioru "pozytywnego"
            </li>
            <li><a href="https://www.gencodegenes.org/human/release_43lift37.html">
                plik sekwencji genomowej w formacie FASTA</a></li>
        </ul>

        Najpierw zbiór "pozytywny" został połączony z "negatywnym" dodając etykietę <i>IsEnhancer</i>.
        Do zbioru treningowego zostały z niego wybrane chromosomy o numerach: 2-13, 15-20 i 22.
        Potem, używając biblioteki <i>BioPython</i>, wczytaliśmy plik FASTA. Na podstawie danych z plików BED
        wybraliśmy odpowiednie fragmenty DNA (chromosom, pozycja początkowa i końcowa).
        Następnym krokiem było usunięcie rekordów zawierających literę 'N' (oznaczającą
        że nukleotyd tam jest nieznany (z powodu niedoskonałości eksperymentu sekwencjonowania)
        w sekwencji DNA. Następnie, zliczyliśmy częstości k-merów w sekwencji DNA, pamiętając o odwrotnej komplementarności,
        dla k = [2,3,4,5], dzięki czemu otrzymaliśmy 4 ramki danych o odpowiednio 10, 32, 136 i 512 kolumnach.
        </p>
    </section>

    <section>
        <h3 class="h3 text-secondary">Wybór klasyfikatora</h3>
        <p>Ponieważ teraz mieliśmy ramki danych zawierające jedynie wartości numeryczne , można było przejść do trenowania
            klasyfikatora. Wybraliśmy RandomForestClassifier, model oparty na drzewach.
            Zbiór danych został podzielony na treningowy i walidacyjny, stosując proporcje 70 do 30.
            Zbiór treningowy zawierał 29059 enhancerów i 50672 nie-enhacerów, natomiast walidacyjny
            12454 enhancerów i 21717 nie-enhancerów. Następnie, na zbiorze treningowym, zastosowaliśmy metodę
            RandomSearch, aby znaleźć optymalne hiperparametry dla każdego
            k, stosując 3-krotną kroswalidację.
            Użyliśmy krzywej ROC oraz wartości AUC na zbiorze walidacyjnym jako metryki,
            aby porównać otrzymane modele. Model wytrenowany na 4-merach osiągnął najlepsze wyniki
            (AUC = 0.727),
            dlatego został wybrany do dalszych eksperymentów.
        </p>
    </section>

    <section>
        <h3 class="h3 text-secondary">Przygotowanie do wizualizacji</h3>
        <p>Następnie, obliczyliśmy średnią długość enhancera
            dla wszystkich chromosomów - 1744 nukletydów. Na tej podstawie, rozmiar okna na jakie
            została podzielona sekwencja każdego z chromosomów
            ustaliliśmy na 1700. Dla każdego okna, za pomocą wytrenowanego wcześniej modelu,
            obliczyliśmy prawdopodobieństwo 'bycia enhancerem'.Jeśli w danym oknie nukleotydów
            nieznanych było więcej niż 5%,
            zwracane prawdopodobieństwo było średnią predykcją dla danego chromosomu.
        </p>
    </section>

    <section>
        <h3 class="h3 text-secondary">Strona</h3>
        <p>Nasz Web Sevice umożliwia wybór chromosomu z prawej strony.
            Po kliknięciu wybranego wyświtli się wykres słupkowy, w którym na osi x jest
            nr okna, a na osi y prawdopodobieństwo, że w danym oknie znajduje się enhancer.
            W lewym dolnym rogu znajduje się przycisk "Pobierz dane",
            który umożliwia pobranie dla wybranego chromosomu danych w formacie .csv,
            gdzie znajdują się dokładne wartości prawdopodobieństw dla każdego okna.
        </p>
    </section>
{% endblock %}
